/*Html value for sticky footer*/


html {
  height: 100%;
}



/*Box element property*/

*, 
*::before, 
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


/*Defauly body properties*/

body {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 0;
  font-family: Montserrat, Arial, sans-serif;
  background-color: var(--main-body-bg);
  overflow-x: hidden;
}


/*Default image properties*/

img {
  display: block;
  height: auto;
}

.site-main {
  flex-grow: 1;
}


@media only screen and (min-width: 0) {
  .scroll-top-btn {
    position: fixed;
    right: 16px;
    bottom: 32px;
    display: none;
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    background: var(--main-greenish-color) url("../images/svg/arrup.svg") no-repeat center;
    cursor: pointer;
    opacity: 0;
    transition: background-color 0.2s ease,
      opacity 0.3s ease;
  
    &:hover {
      background-color: var(--main-hover-greenish-color);
    }
  
    &:active {
      background: #f5f5f5 url("../images/svg/arrup-black.svg") no-repeat center;
    }
  }
}


@media only screen and (min-width: 768px) {
  .scroll-top-btn {
    right: 20px;
    bottom: 42px;
  }
}


@media only screen and (min-width: 1024px) {
  .scroll-top-btn {
    right: 120px;
    bottom: 40px;
  }
}